{% load crispy_forms_filters %}
<div id='kit-container'>
    <form action='.'
          method="POST"
          hx-post='.'
          hx-swap='outerHTML'
          hx-trigger='{% if form.instance.id %}change delay:500ms,{% endif %} submit'>
        {% csrf_token %}
        {{form | crispy}}
        <div class='htmx-indicator'>Loading...</div>
        <button class="htmx-inverted-indicator btn btn-block btn-success" type='submit' >Save</button>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
{#        <a href='{{ object.get_delete_url }}'>Delete</a>#}
    </form>
</div>