<h1>{{ object.name }}</h1>
{% if object.get_edit_url %}
    <small>
        <a href='{{ object.get_edit_url }}'>Edit</a>
        <a href='{{ object.get_delete_url }}' hx-post='{{ object.get_delete_url }}' hx-confirm='Are you sure you want to delete {{ object.name }}?' hx-trigger='click'
        >Delete</a>
    </small>
{% endif %}
<p>{{ object.name }}</p>

{% for kit_item in object.get_kit_items %}
    {% include 'partials/kit-item-inline.html' with object=kit_item %}
{% endfor %}
<div id='kit-item-create'>
</div>
<button hx-get="{{ new_kit_item_url }}"
        hx-trigger='click'
        hx-target='#kit-item-create'
        hx-swap='beforeend'>Add kit item</button>