body{
    background: rgb(230, 227, 227);
}
.my-card:hover{
    transform: scale(1.1);
    transition: 0.1s ease-in-out;
}

.active .my-card {
    border: 10px solid #21baa92e;
}

.htmx-indicator {
    display: none;
}
.htmx-request .htmx-indicator {
    display: inline;
}
.htmx-inverted-indicator {
    display: inline;
}
.htmx-request .htmx-inverted-indicator {
    display: none;
}