{% extends 'partials/base.html' %}
{% block title %}Order Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    {% include 'partials/topside.html' %}


    <div class="row my-4">
        <div class="col-md-12">
            <table id="delivery-table"
                   data-toggle="table"
                   data-pagination="true"
                   data-pagination-h-align="left"
                   data-pagination-detail-h-align="right"
                   data-page-size="25"
                   data-page-list="[10, 25, 50, 100, all]"
                   data-search="true"
                   data-show-columns="true"
                   data-filter-control="true"
                   data-show-search-clear-button="true"
                   class="table bg-white">
                <thead class="bg-info text-white">
                <tr>
                    <th data-sortable="true" scope="col">Date</th>
                    <th data-sortable="true" scope="col">Product</th>
                    <th data-sortable="true" scope="col">Quantity</th>
                    <th data-sortable="true" scope="col">Ordered by</th>
                    <th data-sortable="true" scope="col">Recipient</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for delivery in kit_deliveries %}
                    <tr>
                        <td>{{ delivery.delivery_date | date:"n/j/y h:i A" }}</td>
                        <td>{{ delivery.order.kit.name }}</td>
                        <td>{{ delivery.order.order_quantity }}</td>
                        <td>{{ delivery.order.customer.username }}</td>
                        <td>{{ delivery.order.recipient }}</td>
                        <td>
                            <a class="btn btn-info btn-sm mr-2"
                               href="{% url 'sparkshed-delivery-edit' type='kit' pk=delivery.id %}">Edit</a>
                            <a class="btn btn-danger btn-sm ml-2"
                               href="{% url 'sparkshed-delivery-delete' type='kit' pk=delivery.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}