{% extends 'partials/base.html' %}
{% load crispy_forms_filters %}
{% block title %}Kit Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    {% include 'partials/topside.html' %}

    <div class="row my-4">
        <div class="card card-body">
            <h5>Add Kit</h5>
            <hr>
            <div id="form_set">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <div id="empty_form" style="display:none">
                        <table class='no_error'>
                            {{ form|crispy }}
                        </table>
                    </div>

                    <input type="button" value="Add More" id="add_more">
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-info text-white">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Name</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for kit in object_list %}
                    <tr>
                        <td>{{ kit.updated_date | date:"n/j/y h:i A" }}</td>
                        <td>{{ kit.name}}</td>
                        <td>
                            <a class="btn btn-info btn-sm mr-2"
                               href="{% url 'dashboard-kit-edit' kit.id %}">Edit</a>
                            <a class="btn btn-danger btn-sm ml-2"
                               href="{% url 'dashboard-kit-delete' kit.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

{% endblock content %}