{% extends 'partials/base.html' %}>
{% load crispy_forms_filters %}
{% block title %}{{ kit_form.instance.pk|yesno:"Edit Kit,Create Kit" }}{% endblock %}

{% block content %}
    <body>
    <h1>{{ kit_form.instance.pk|yesno:"Edit Kit,Create Kit" }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ kit_form | crispy }}
        {{ kit_item_formset.management_form }}
        <div id="kititems">
            {% for form in kit_item_formset %}
                <div class="kititem-form border rounded p-2 mb-2">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            {{ form.item | as_crispy_field }}
                            {{ form.id }}
                        </div>
                        <div class="col-md-4">
                            {{ form.quantity | as_crispy_field }}
                        </div>
                        {% if form.instance.pk %}
                            <div class="col-md-auto text-right">
                                <input type="checkbox" name="kititems-{{ forloop.counter0 }}-DELETE"
                                       id="id_kititems-{{ forloop.counter0 }}-DELETE">
                                <label for="id_kititems-{{ forloop.counter0 }}-DELETE" class="ml-2">Delete This
                                    Item</label>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <button type="button" id="add-kititem" class="btn btn-primary">Add Another Item</button>
        <button type="submit" class="btn btn-success btn-block">Save Kit</button>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const addKitItemButton = document.getElementById('add-kititem');
            const kititemsContainer = document.getElementById('kititems');
            const totalForms = document.getElementById('id_kititems-TOTAL_FORMS');

            addKitItemButton.addEventListener('click', function () {
                const currentFormCount = kititemsContainer.children.length;
                const newForm = kititemsContainer.children[0].cloneNode(true);
                const formRegex = RegExp(`-\\d+-`, 'g');

                newForm.innerHTML = newForm.innerHTML.replace(formRegex, `-${currentFormCount}-`);
                kititemsContainer.appendChild(newForm);

                newForm.querySelectorAll('input').forEach(function (input) {
                    if (input.type !== 'hidden') {
                        input.value = '';
                    }
                });

                // Append a delete checkbox to the new form
                const deleteCheckbox = document.createElement('input');
                deleteCheckbox.type = 'checkbox';
                deleteCheckbox.name = `kititem_set-${currentFormCount}-DELETE`;
                deleteCheckbox.id = `id_kititem_set-${currentFormCount}-DELETE`;

                const deleteLabel = document.createElement('label');
                deleteLabel.setAttribute('for', `id_kititem_set-${currentFormCount}-DELETE`);
                deleteLabel.classList.add('ml-2');
                deleteLabel.textContent = 'Remove Item';

                const deleteDiv = document.createElement('div');
                deleteDiv.appendChild(deleteLabel);
                deleteDiv.appendChild(deleteCheckbox);

                newForm.appendChild(deleteDiv);

                totalForms.setAttribute('value', currentFormCount + 1);

                // Add event listener to the delete checkbox
                deleteCheckbox.addEventListener('click', function () {
                    if (this.checked) {
                        newForm.style.display = 'none';
                    } else {
                        newForm.style.display = 'block';
                    }
                });
            });
        });
    </script>
    </body>
{% endblock %}