{% extends 'partials/base.html' %}>
{% load crispy_forms_filters %}
{% block title %}Create Kit{% endblock %}


{% block content %}
<body>
    <body>
    <h1>Create Kit</h1>
    <form method="post">
        {% csrf_token %}
        {{ kit_form | crispy }}
        {{ kit_item_formset.management_form }}
        <div id="kititems">
            {% for form in kit_item_formset %}
                <div class="kititem-form">
                    {{ form | crispy }}
                </div>
            {% endfor %}
        </div>
        <button type="button" id="add-kititem">Add another item</button>
        <button type="submit">Save Kit</button>
    </form>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const addKitItemButton = document.getElementById('add-kititem');
            const kititemsContainer = document.getElementById('kititems');
            const totalForms = document.getElementById('id_kititems-TOTAL_FORMS');

            addKitItemButton.addEventListener('click', function () {
                const currentFormCount = kititemsContainer.children.length;
                const newForm = kititemsContainer.children[0].cloneNode(true);
                const formRegex = RegExp(`-\\d+-`, 'g');

                newForm.innerHTML = newForm.innerHTML.replace(formRegex, `-${currentFormCount}-`);
                kititemsContainer.appendChild(newForm);
                totalForms.setAttribute('value', currentFormCount + 1);
            });
        });
    </script>
</body>
{% endblock %}