{% extends 'partials/base.html' %}
{% block title %}Add Kit{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row my-4">
        <div class="col-md p-3 bg-white">
            <h3>Add Kit</h3>
             <div id="form_set">
                <form method="POST">
                    {% csrf_token %}
                    {{ kit_form|crispy }}
                    {{ kit_items_form|crispy }}
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
