{% extends 'partials/base.html' %}
{% block title %}Products Edit Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row my-4">
        <div class="col-md-6 offset-md-3 p-3 bg-white">
            <div class="col md-4">
                <div class="card card-body">
                    <h3>Add Kit</h3>
                    <hr>
                    <div class='{% if object.id %}col-12 col-md-8 {% else %} col-md-12 mx-auto {% endif %}'>
                        {% include 'partials/forms.html' %}
                    </div>
                    <div id='kit-items-list'>
                        {% for kit_item in object.get_items_in_kit %}
                            {% include 'partials/kit-item-inline.html' with object=kit_item %}
                        {% endfor %}
                    </div>

                    {% if new_kit_item_url %}
                        <button class="btn btn-success"
                                hx-get='{{ new_kit_item_url }}'
                                hx-trigger='click'
                                hx-target='#kit-items-list'
                                hx-swap='beforeend'>Add kit item
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}