{% extends 'partials/base.html' %}
{% load crispy_forms_filters %}
{% block title %}Kit Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'partials/topside.html' %}

    <div class="row my-12">
        <div class="col-md-12">
            <table id="kit-create-table"
                   data-toggle="table"
                   data-pagination="true"
                   data-pagination-h-align="left"
                   data-pagination-detail-h-align="right"
                   data-page-size="25"
                   data-page-list="[10, 25, 50, 100, all]"
                   data-search="true"
                   data-show-columns="true"
                   data-filter-control="true"
                   data-show-search-clear-button="true"
                   class="table bg-white">
                <thead class="bg-info text-white">
                <tr>
                    <th scope="col" data-sortable="true" data-field="kit-name">Kit Name</th>
                    <th scope="col" data-sortable="true" data-field="item-name">Item Name</th>
                    <th scope="col" data-sortable="true" data-field="item-qty">Item Qty</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for kit_item in kit_items %}
                    <tr>
                        <td>{{ kit_item.kit.name }}</td>
                        <td>{{ kit_item.item.name }}</td>
                        <td>{{ kit_item.quantity }}</td>
                        <td>
                            <a class="btn btn-info btn-sm mr-2"
                               href="{% url 'kit-edit' kit_item.kit.id %}">Edit</a>
                            <a class="btn btn-danger btn-sm ml-2"
                               href="{% url 'kit-delete' kit_item.kit.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row my-4">
        <a class="btn btn-info btn-sm mr-2"
           href="{% url 'kit-create' %}">Add Kit</a>
    </div>

{% endblock content %}