{% extends 'partials/base.html' %}
{% block title %}Order Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    {% include 'partials/topside.html' %}

    <div class="row my-4">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body bg-white mt-3">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" data-toggle="tab" href="#kit-order-tab">Kit Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" data-toggle="tab" href="#item-order-tab">Item Orders</a>
                    </ul>
                </div>

                <div id="#tab-content" class="tab-content">
                    <div id="kit-order-tab" class="tab-pane fade-in active">
                        <div class="row my-4">
                            <div class="col-md-4">
                                <div class="card card-body">
                                    <h5>Add Kit Order</h5>
                                    <hr>
                                    <form method="POST" action={{ new_kit_order_url }}>
                                        {% csrf_token %}
                                        {{ kit_form|crispy }}
                                        <input class="btn btn-success btn-block" type="submit" value="Add">
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <table class="table bg-white">
                                    <thead class="bg-info text-white">
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Product</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Ordered by</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for order in kit_orders %}
                                        <tr>
                                            <td>{{ order.updated_date | date:"n/j/y h:i A" }}</td>
                                            <td>{{ order.kit.name }}</td>
                                            <td>{{ order.order_quantity }}</td>
                                            <td>{{ order.customer.username }}</td>
                                            <td>
                                                <a class="btn btn-info btn-sm mr-2"
                                                   href="{% url 'dashboard-order-edit' order.id %}">Edit</a>
                                                <a class="btn btn-danger btn-sm ml-2"
                                                   href="{% url 'dashboard-order-delete' order.id %}">Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div id="item-order-tab" class="tab-pane fade in">
                        <div class="row my-4">
                            <div class="col-md-4">
                                <div class="card card-body">
                                    <h5>Add Item Order</h5>
                                    <hr>
                                    <form method="POST">
                                        {% csrf_token %}
                                        {{ item_form|crispy }}
                                        <input class="btn btn-success btn-block" type="submit" value="Add">
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <table class="table bg-white">
                                    <thead class="bg-info text-white">
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Product</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Ordered by</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for order in item_orders %}
                                        <tr>
                                            <td>{{ order.updated_date | date:"n/j/y h:i A" }}</td>
                                            <td>{{ order.kit.name }}</td>
                                            <td>{{ order.order_quantity }}</td>
                                            <td>{{ order.customer.username }}</td>
                                            <td>
                                                <a class="btn btn-info btn-sm mr-2"
                                                   href="{% url 'dashboard-order-edit' order.id %}">Edit</a>
                                                <a class="btn btn-danger btn-sm ml-2"
                                                   href="{% url 'dashboard-order-delete' order.id %}">Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}