{% extends 'partials/base.html' %}
{% load crispy_forms_filters %}
{% block title %}Order Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'partials/topside.html' %}

    <div class="row my-4">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body bg-white mt-3">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" data-toggle="tab" href="#kit-order-tab">Kit Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" data-toggle="tab" href="#item-order-tab">Item Orders</a>
                    </ul>
                </div>

                <div id="#tab-content" class="tab-content">
                    <div id="kit-order-tab" class="tab-pane fade-in active">
                        <div class="row my-4">
                            <div class="col-md-4">
                                <div class="card card-body">
                                    <h5>Add Kit Order</h5>
                                    <hr>
                                    <form method="POST" action={{ new_kit_order_url }}>
                                        {% csrf_token %}
                                        {{ kit_form | as_crispy_errors }}
                                        {{ kit_form | crispy }}
                                        <input class="btn btn-success btn-block" type="submit" value="Add">
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <table class="table bg-white">
                                    <thead class="bg-info text-white">
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Product</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Ordered by</th>
                                        <th scope="col">Delivered</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for order in kit_orders %}
                                        <tr>
                                            <td>{{ order.updated_date | date:"n/j/y h:i A" }}</td>
                                            <td>{{ order.kit.name }}</td>
                                            <td>{{ order.order_quantity }}</td>
                                            <td>{{ order.customer.username }}</td>
                                            <td>
                                                {% if order.is_delivered %}
                                                    <a class="fa-solid fa-square-check"></a>
                                                {% else %}
                                                    <a class="fa-solid fa-square-xmark"></a>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a class="btn btn-info btn-sm mr-2"
                                                   href="{% url 'dashboard-order-edit' type='kit' pk=order.id %}">Edit</a>
                                                <a class="btn btn-danger btn-sm ml-2 mr-2"
                                                   href="{% url 'dashboard-order-delete' type='kit' pk=order.id %}">Delete</a>
                                                <form class="btn btn-primary btn-sm mr-2" hx-post='{{ order.get_deliver_url }}'
                                                          method="POST"
                                                          action="."
                                                          hx-confirm='Deliver order?'
                                                          hx-trigger='click'
                                                          hx-target='#user-err'>
                                                    <a>Deliver</a>
                                                </form>
                                                <div class="text-danger mt-2" style="color:red;" id="user-err"></div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div id="item-order-tab" class="tab-pane fade in">
                        <div class="row my-4">
                            <div class="col-md-4">
                                <div class="card card-body">
                                    <h5>Add Item Order</h5>
                                    <hr>
                                    <form method="POST" action={{ new_item_order_url }}>
                                        {% csrf_token %}
                                        {{ item_form|crispy }}
                                        <input class="btn btn-success btn-block" type="submit" value="Add">
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <table class="table bg-white">
                                    <thead class="bg-info text-white">
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Product</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Ordered by</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for order in item_orders %}
                                        <tr>
                                            <td>{{ order.updated_date | date:"n/j/y h:i A" }}</td>
                                            <td>{{ order.item.name }}</td>
                                            <td>{{ order.order_quantity }}</td>
                                            <td>{{ order.customer.username }}</td>
                                            <td>
                                                <a class="btn btn-info btn-sm mr-2"
                                                   href="{% url 'dashboard-order-edit' type='item' pk=order.id %}">Edit</a>
                                                <a class="btn btn-danger btn-sm ml-2"
                                                   href="{% url 'dashboard-order-delete' type='item' pk=order.id %}">Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="position-fixed top-0 end-0 p-3">
        <div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div id="toast-body" class="toast-body"></div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <script>
        const toastElement = document.getElementById("toast")
        const toastBody = document.getElementById("toast-body")

        const toast = new bootstrap.Toast(toastElement, { delay: 20000 })

        htmx.on("showMessage", (e) => {
            toastBody.innerText = e.detail.value
            toast.show()
        })
    </script>

{% endblock %}