{% extends 'partials/base.html' %}
{% block title %}Order Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'partials/topside.html' %}
<div class="row my-4">
    <div class="col-md-4">
        <div class="card card-body">
                <h5>Add Order</h5>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-success btn-block" type="submit" value="Add">
                </form>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Ordered by</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for order in order %}
                <tr>
                    <td>{{ order.updated_date | date:"n/j/y h:i A" }}</td>
                    <td>{{ order.item.name }}</td>
                    <td>{{ order.order_quantity }}</td>
                    <td>{{ order.customer.username }}</td>
                    <td>
                        <a class="btn btn-info btn-sm mr-2"
                           href="{% url 'dashboard-order-edit' order.id %}">Edit</a>
                        <a class="btn btn-danger btn-sm ml-2"
                            href="{% url 'dashboard-order-delete' order.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}